{
  "templates": [
    {
      "name": "row",
      "element": "row",
      "title": "Row"
    },
    {
      "name": "date",
      "element": "input",
      "title": "Date",
      "type": "date"
    },
    {
      "name": "datetime",
      "element": "input",
      "title": "Datetime",
      "type": "datetime-local"
    },
    {
      "name": "week",
      "element": "input",
      "title": "Week",
      "type": "week"
    },
    {
      "name": "month",
      "element": "input",
      "title": "Month",
      "type": "month"
    },
    {
      "name": "time",
      "element": "input",
      "title": "Time",
      "type": "time"
    },
    {
      "name": "email",
      "element": "input",
      "title": "Email",
      "type": "email"
    },
    {
      "name": "number",
      "element": "input",
      "title": "Number",
      "type": "number"
    },
    {
      "name": "text",
      "element": "input",
      "title": "Text",
      "type": "text"
    },
    {
      "name": "color",
      "element": "input",
      "title": "Color",
      "type": "color"
    },
    {
      "name": "file",
      "element": "input",
      "title": "File",
      "type": "file"
    },
    {
      "name": "hidden",
      "element": "input",
      "title": "Hidden",
      "type": "hidden"
    },
    {
      "name": "range",
      "element": "input",
      "title": "Range",
      "type": "range"
    },
    {
      "name": "url",
      "element": "input",
      "title": "Url",
      "type": "url"
    },
    {
      "name": "checkbox",
      "element": "input",
      "title": "Checkbox",
      "type": "checkbox",
      "elements": "1==qwe||2==asd||3==zxc"
    },
    {
      "name": "checkbox one",
      "element": "input",
      "title": "Checkbox One",
      "type": "checkbox",
      "label": "Checkbox"
    },
    {
      "name": "radio",
      "element": "input",
      "title": "Radio",
      "type": "radio"
    },
    {
      "name": "dropdown",
      "element": "dropdown",
      "title": "Dropdown",
      "type": "dropdown",
      "elements": "@SELECT id, message FROM [+PREFIX+]manager_log"
    },
    {
      "name": "listbox",
      "element": "listbox",
      "title": "Listbox",
      "type": "listbox",
      "elements": "@SELECT id, message FROM [+PREFIX+]manager_log"
    },
    {
      "name": "listbox:multiple",
      "element": "listbox:multiple",
      "title": "Listbox:multiple",
      "type": "listbox-multiple",
      "elements": "@SELECT id, message FROM [+PREFIX+]manager_log"
    },
    {
      "name": "select",
      "element": "select",
      "title": "Select",
      "type": "select",
      "elements": "@SELECT id, message FROM [+PREFIX+]manager_log"
    },
    {
      "name": "select:multiple",
      "element": "select",
      "title": "Select:multiple",
      "type": "select",
      "elements": "@SELECT id, message FROM [+PREFIX+]manager_log",
      "multiple": true
    },
    {
      "name": "c-image",
      "element": "image",
      "title": "Изображение",
      "type": "image"
    },
    {
      "name": "c-file",
      "element": "file",
      "title": "Файл",
      "type": "file"
    }
  ]
}
