.mf3 input, .mf3 select, .mf3 textarea {
    @apply block py-1 px-1.5 border border-slate-300 border-solid leading-5
}
.darkness .mf3 input, .darkness .mf3 select, .darkness .mf3 textarea {
    @apply border-gray-600
}
.mf3 select:not([size="1"]), .mf3 select[multiple] {
    @apply h-auto
}
.mf3-item, .mf3-group {
    @apply grow relative p-0 m-1 basis-full border border-solid border-slate-200 dark:border-gray-600
}
.mf3-item.mf3-item__without-actions {
    @apply border-0
}
/*.mf3-item::before, .mf3-group::before {
    @apply content-[""] absolute left-1 top-1 right-1 bottom-1 ring-1 ring-slate-200 dark:ring-slate-500
}*/
.darkness .mf3-item::before, .darkness .mf3-group::before {
    @apply ring-gray-600
}
.mf3 > .mf3-templates, .mf3-group > .mf3-templates, .mf3-item:hover > .mf3-actions, .mf3-group:hover > .mf3-actions, .mf3-draggable__chosen > .mf3-actions {
    @apply opacity-100 visible
}
.mf3-item > *, .mf3-group > * {
    @apply relative
}
.mf3 > .mf3-items {
    @apply grow p-0 -mx-1
}
.mf3-items {
    @apply relative w-full flex flex-wrap flex-row items-center grow
}
.mf3-item:not(:hover) > .mf3-actions ~ .mf3-items {
    @apply ring-1 ring-slate-200 dark:ring-slate-500
}
.mf3-item > .mf3-actions ~ .mf3-items {
    @apply p-1.5
}
/**
 * Transition
 */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.15s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
.fade-scale-enter-active,
.fade-scale-leave-active {
    transition: 0.15s ease;
}
.fade-scale-enter-from,
.fade-scale-leave-to {
    opacity: 0;
    transform: scale(0.85);
    transition: 0.15s ease;
}
.v-enter-active,
.v-leave-active {
    transition: opacity 0.15s ease;
}
.v-enter-from,
.v-leave-to {
    opacity: 0;
}
